<nav class="navbar navbar-dark bg-dark navbar-expand">
  <div class="container">
    <a href="#" class="navbar-brand">
      <img src="/img/brand.png" alt="Brand" class="img-brand"> <span class="align-middle ms-2">{{title}}</span>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/help" class="nav-link">Help</a>
        </li>
      </ul>
    </div>
  </div>
</nav>