body {
  background-color: #15181b;
}

.profile-pic {
  height: 15rem;
}

.img-brand {
  height: 40px;
}

#git-name {
  color: white;
}

.text-404 {
  font-weight: 600;
  font-size: 8rem;
}

#inputAddress {
  color: white;
  border-color: transparent;
  max-width: 65%;
}

.form-label {
  font-size: 1.5rem;
}

#testCard {
  background-color: #4f6bf8;
  background-image: url('/img/wave.png');
  background-size: cover;
  border-radius: 0.8rem;
}

#weatherCardTemp {
  font-size: 5.4rem;
  font-weight: 700;
  font-family: monospace;
}

.my-spinner {
  height: 5rem;
  width: 5rem;
  border-width: 0.5rem;
}

a, u {
  color: white;
  text-decoration: none;
}

.my-link{
  font-size: 1.2rem;
}