body {
  background-color: #15181b;
}

.profile-pic {
  height: 10rem;
}

.img-brand {
  height: 40px;
}

#git-name {
  color: white;
}

.text-404 {
  font-weight: 600;
  font-size: 8rem;
}

#inputAddress {
  color: white;
  border-color: transparent;
  max-width: 65%;
}

.form-label {
  font-size: 1.5rem;
}
